apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: eks-test
  labels:
    app: eks-test
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: eks-test
    spec:
      containers:
        - name: eks-test
          image: imagefullname
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /
              port: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
          resources:
      imagePullSecrets:
              - name: eks-secret
